.ui-growl {
    z-index:9999;
}

.row {
    margin: 3px;
}

.uiAvertissement {
    color: red;
    font-weight: bold;
}

div.footer-form {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}