<form name="editForm" role="form" class="form-horizontal" novalidate (ngSubmit)="save()" #crudForm="ngForm">

    <div *ngIf="modal" class="modal-header">
        <h4 class="modal-title" id="myBookLabel">{{ titreFormulaire }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">

        <ng-template ngFor let-line [ngForOf]="setForm">
            <div class="row">
                <div *ngFor="let field of line.field"
                     [class]="'form-group col-'+(field.options?.taille || 12/line.field.length)">
                    <div class="row">
                        <label *ngIf="field.type != TypeField.action" [for]="field.nom"
                               [class]="'col-form-label col-'+(field.options?.tailleLabel ? field.options.tailleLabel: '2')">{{field.options?.label
                            || field.nom}}</label>
                        <div [class]="'col-'+(field.options?.tailleField ? field.options.tailleField: '10')">
                            <lap-input
                                #inputs
                                [editable]="editable"
                                [field]="field"
                                (onKeyUpAction)="keyUp($event)"
                                (onChangeAction)="inputChange($event)"
                                (onClickAction)="inputClick($event)"
                                (inputCheckAction)="inputCheck($event)"
                            ></lap-input>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

    </div>
    <div class="modal-footer">
        <div *ngIf="savedSearch" class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5">
                        <input type="text" list="savedSearch" class="form-control" placeholder="Recherches enregistrées"
                               [(ngModel)]="savedSearchName">
                        <datalist id="savedSearch">
                            <option *ngFor="let value of savedSearchList" [value]="value.title"></option>
                        </datalist>
                    </div>
                    <div class="col-md-3 text-left">
                        <button type="button" pButton class="ui-button-info" label="Sauvegarder"
                                [disabled]="!savedSearchName"
                                (click)="savedSearchAction(true)"></button>
                    </div>
                    <div *ngIf="savedSearchExist().length" class="col-md-2 text-left">
                        <button type="button" pButton class="ui-button-info" label="Charger"
                                [disabled]="!savedSearchName"
                                (click)="savedSearchAction(false)"></button>
                    </div>
                    <div *ngIf="savedSearchExist().length" class="col-md-2 text-left">
                        <button type="button" pButton class="ui-button-danger" label="Supprimer"
                                [disabled]="!savedSearchName"
                                (click)="savedSearchDel()"></button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let button of setButton"
             [class]="'p-'+(button.buttons?.taille || 12/setButton.length)+' '+button.buttons?.align">
        <span *ngFor="let btn of button.buttons.buttons">
          <button
              *ngIf="btn.display == true || btn.display == null"
              [type]="btn.type == TypeButton.button ? 'button':'submit'"
              pButton
              [icon]="btn.icon"
              [class]="'ui-button-'+btn.severity"
              (click)="buttonFormClick($event, btn)"
              [label]="btn?.label || null"
              [disabled]="btn?.desactiver || false"
          ></button>
        </span>
        </div>
    </div>
</form>

<!---------------------------------------->
<!-- Messages d'avertissement           -->
<!---------------------------------------->
<p-growl class="ui-growl" [value]="formMsgs"></p-growl>
<!---------------------------------------->
