<input
  type="text"
  [attr.list]="'list_'+uniqId"
  [class]="'lap-form-control '+styleClass"
  [placeholder]="field.options?.placeholder || ''"
  (keyup)="keyUp()"
  (change)="inputChange()"
  [(ngModel)]="field.value"
  [disabled]="field.options?.desactiver || false">
<datalist id="list_{{uniqId}}">
  <option *ngFor="let src of field.list" [value]="src.value"></option>
</datalist>
