<div class="input-group">
    <span [class]="'input-group-addon '+styleClass" aria-hidden="true">
        <i class="fa fa-calendar" aria-hidden="true"></i>
    </span>

    <input
            type="text"
            class="lap-form-control"
            [placeholder]="field.options?.placeholder || ''"
            id="daterangepicker_{{ field.nom }}"
            (change)="inputChange()"
            [(ngModel)]="displayDate"
            [disabled]="field.options?.desactiver || false"
    />
</div>
