<div class="input-group">
    <span [class]="'input-group-addon '+styleClass" aria-hidden="true">@</span>
    <input
            type="text"
            class="lap-form-control"
            [placeholder]="field.options?.placeholder || ''"
            (keyup)="keyUp()"
            (change)="inputChange()"
            [(ngModel)]="field.value"
            [disabled]="field.options?.desactiver || false"
    />
</div>
