<lap-input-text
  *ngIf="field.type == TypeField.text || field.type == TypeField.autoComplete || field.type == TypeField.multiAutoComplete"
  [field]="field"
  [styleClass]="'lap-fieldValid_'+field.valid"
  [callback]="callback"
>
</lap-input-text>

<lap-input-password *ngIf="field.type == TypeField.password"
                    [field]="field"
                    [styleClass]="'lap-fieldValid_'+field.valid"
                    [callback]="callback"
></lap-input-password>

<lap-input-email *ngIf="field.type == TypeField.email"
                 [field]="field"
                 [styleClass]="'lap-fieldValid_'+field.valid"
                 [callback]="callback"
></lap-input-email>

<lap-input-textarea *ngIf="field.type == TypeField.textArea"
                    [field]="field"
                    [styleClass]="'lap-fieldValid_'+field.valid"
                    [callback]="callback"
></lap-input-textarea>

<lap-input-spinner *ngIf="field.type == TypeField.spinner"
                   [field]="field"
                   [styleClass]="'lap-fieldValid_'+field.valid"
                   [callback]="callback"
></lap-input-spinner>

<lap-input-slider *ngIf="field.type == TypeField.slider"
                  [field]="field"
                  [callback]="callback"
></lap-input-slider>

<lap-input-truefalse *ngIf="field.type == TypeField.checkBox"
                     [field]="field"
                     [callback]="callback"
></lap-input-truefalse>

<lap-input-tri-state *ngIf="field.type == TypeField.triState"
                     [field]="field"
                     [callback]="callback"
></lap-input-tri-state>

<lap-input-select *ngIf="field.type == TypeField.select || field.type == TypeField.multiSelect"
                  [field]="field"
                  [styleClass]="'lap-fieldValid_'+field.valid"
                  [callback]="callback"
></lap-input-select>

<lap-input-datalist *ngIf="field.type == TypeField.dataList"
                    [field]="field"
                    [styleClass]="'lap-fieldValid_'+field.valid"
                    [callback]="callback"
></lap-input-datalist>

<lap-input-date *ngIf="field.type == TypeField.date || field.type == TypeField.dateRange"
                [field]="field"
                [styleClass]="'lap-fieldValid_'+field.valid"
                [callback]="callback"
></lap-input-date>

<button *ngIf="field.type == TypeField.action"
        pButton
        type="button"
        [label]="field.options?.label ||  field.nom"
        [icon]="field.options?.icon"
        (click)="onClick($event, field)"
        [class]="'ui-button-'+field.options?.severity"
>
</button>

<!---------------------------------------->
<!-- Messages d'avertissement           -->
<!---------------------------------------->
<p-growl [value]="inputMsgs"></p-growl>
<!---------------------------------------->
