<select *ngIf="field.type == TypeField.select"
        [class]="'lap-form-control '+styleClass"
        (change)="inputChange()"
        [(ngModel)]="field.value"
        [disabled]="field.options?.desactiver || false"
>
    <option ngValue="" selected>{{ field.options?.placeholder }}</option>
    <option *ngFor="let src of field.list" [ngValue]="field.value?.id === src.value.id ? field.value:src.value">
        {{ src.label }}
    </option>

</select>

<select2
        *ngIf="field.type == TypeField.multiSelect"
        #select2
        [options]="options"
        [data]="data"
        (valueChanged)="inputChange($event.value)"
        [value]="field.value"
        [disabled]="field.options?.desactiver || false"
></select2>

<!--<p-multiSelect *ngIf="inputField['multiple']"-->
               <!--#multiselect-->
               <!--(onChange)="input.inputCheck(true)"-->
               <!--[(options)]="inputSource"-->
               <!--[(ngModel)]="dtoComponent.oneItem[field]"-->
               <!--[(disabled)]="inputField['disabled']"-->
               <!--[style]="{'width': '100%', 'border-left': '2px solid '+((styleClass === 'lap-fieldValid_true')? 'green':'red')}"-->
               <!--[(defaultLabel)]="inputField['placeholder']"-->
<!--&gt;</p-multiSelect>-->

