<input *ngIf="field.type == TypeField.autoComplete"
       auto-complete
       type="text"
       accept-user-input="false"
       [class]="'lap-form-control '+styleClass"
       [maxlength]="field.options?.maxlength"
       [placeholder]="field.options?.placeholder || ''"
       (keyup)="keyUp()"
       (change)="inputChange()"
       [(ngModel)]="field.value"
       [disabled]="field.options?.desactiver || false"
       [source]="field.list"
/>

<p-autoComplete *ngIf="field.type == TypeField.multiAutoComplete"
                [(ngModel)]="field.value"
                (completeMethod)="inputSearch($event)"
                [suggestions]="field.list"
                [multiple]="true"
                (onSelect)="inputChange()"
                (onUnselect)="inputChange()"
                [style]="{'width': '100%', 'border-left': '2px solid '+((styleClass === 'lap-fieldValid_true')? 'green':'red')}"
></p-autoComplete>

<input *ngIf="field.type == TypeField.text"
       type="text"
       [class]="'lap-form-control '+styleClass"
       [maxlength]="field.options?.maxlength"
       [placeholder]="field.options?.placeholder || ''"
       (keyup)="keyUp()"
       (change)="inputChange()"
       [(ngModel)]="field.value"
       [disabled]="field.options?.desactiver || false"
/>
