.tri {
    display: none;
}
.tri, .tri:after, .tri:before, .tri *, .tri *:after, .tri *:before, .tri + .tri-btn {
    box-sizing: border-box;
}
.tri::-moz-selection, .tri:after::-moz-selection, .tri:before::-moz-selection, .tri *::-moz-selection, .tri *:after::-moz-selection, .tri *:before::-moz-selection, .tri + .tri-btn::-moz-selection {
    background: none;
}
.tri::selection, .tri:after::selection, .tri:before::selection, .tri *::selection, .tri *:after::selection, .tri *:before::selection, .tri + .tri-btn::selection {
    background: none;
}
.tri + .tri-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tri + .tri-btn:after, .tri + .tri-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.tri + .tri-btn:after {
    left: 0;
}
.tri + .tri-btn:before {
    display: none;
}

.tri-skewed + .tri-btn {
    overflow: hidden;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    font-family: sans-serif;
    background: #888;
}

.tri-skewed + .tri-btn:after, .tri-skewed + .tri-btn:before {

    display: inline-block;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.tri-skewed:checked + .tri-btn:after {
    content: attr(data-tg-on);
}
.tri-skewed + .tri-btn:after {
    content: attr(data-tg-off);
}
.tri-skewed:indeterminate + .tri-btn:after {
    content: attr(data-tg-null);
}

.tri-skewed:indeterminate + .tri-btn {
    background: #55a;
}

.tri-skewed + .tri-btn:active {
    background: #888;
}

.tri-skewed:checked + .tri-btn {
    background: #86d993;
}

.tri-skewed:disabled + .tri-btn {
    background-color: #eee;
    opacity: 1;
}

.tri-skewed:disabled + .tri-btn:after, .tri-skewed:disabled + .tri-btn:before {
    color: #555;
}
