<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" (click)="listClick($event)">
    <template ngFor let-child [ngForOf]="(root ? item : item.items)">
        <li #item (mouseenter)="onItemMouseEnter($event,item,child)" (mouseleave)="onItemMouseLeave($event,item)">
            <a tabindex="-1" [href]="child.url||'#'" (click)="itemClick($event, child)">
                <span class="menu-submenu-icon fa fa-fw fa-caret-right" *ngIf="child.items"></span>
                <span class="menu-icon fa fa-fw" *ngIf="child.icon" [ngClass]="child.icon"></span>
                <span class="menu-item-text">{{child.label}}</span>
            </a>
            <lap-context-menu-sub class="ui-submenu" [item]="child" *ngIf="child.items"></lap-context-menu-sub>
        </li>
    </template>
</ul>