<div #container id="contextMenu" [ngClass]="'dropdown clearfix'" [class]="styleClass" [ngStyle]="style"
     [style.display]="visible ? 'block':'none'">
    <lap-context-menu-sub [item]="model" [root]="true"></lap-context-menu-sub>
</div>