
<div *ngIf="testEntity">
    <h2><span jhiTranslate="firstAppApp.testEntity.detail.title">Test Entity</span> {{testEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="firstAppApp.testEntity.t">T</span></dt>
        <dd>
            <span>{{testEntity.t}}</span>
        </dd>
        <dt><span jhiTranslate="firstAppApp.testEntity.user">User</span></dt>
        <dd>
            {{testEntity.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'test-entity/'+ testEntity.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
