<lap-context-menu #contextMenu [model]="itemsCM"></lap-context-menu>

<div class="lap-datagrid-toolbar">

    <i *ngIf="option?.typeSelect" [class]="'fa fa-check-square icon_'+(allLineSelected)" (click)="toggleSelectAllLine()"
       title="Tout (dé)selectionner"></i>
    &nbsp;
    <i *ngIf="dataDisplayed.length > 0" class="fa fa-file-excel-o icon_false" (click)="exportAllDataToCSV()"
       title="Exporter lees données au format CSV"></i>
    &nbsp;
    <i [class]="'fa fa-filter icon_'+(filterDisplayed)" (click)="toggleFilter()"
       title="Activer/Désactiver les filtres"></i>

    <i *ngIf="source" class="fa fa-refresh icon_false" (click)="loadData()" title="Actualiser"></i>
    &nbsp;
    <i *ngFor="let option of option.optionsToolbar"
       [class]="option.icon +' icon_false'"
       (click)="toolbarOption(option.label)"
       title="{{ option.label }}"
    ></i>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    Nombre de résultats affichés :
    &nbsp;
    <select #selectDisplayItem class="lap-datagrid-select"
            (change)="displayData(selectDisplayItem.value,0)" name="SelNbElemAff"
            id="SelNbElemAff">
        <option *ngIf="allDataDisplayed && allDataDisplayed > 10" value="10" selected>10</option>
        <option *ngIf="allDataDisplayed && allDataDisplayed > 20" value="20">20</option>
        <option *ngIf="allDataDisplayed && allDataDisplayed > 50" value="50">50</option>
        <option *ngIf="allDataDisplayed && allDataDisplayed > 100" value="100">100</option>
        <option *ngIf="allDataDisplayed" [value]="allDataDisplayed">Tous ({{allDataDisplayed}})</option>
    </select>

    &nbsp;&nbsp;
    <span class="fa fa-backward changepageinactive" *ngIf="!displayedPage"></span>
    <span class="fa fa-backward changepage" *ngIf="displayedPage > 0" (click)="changePage('-')"></span>
    &nbsp;&nbsp;&nbsp;

    <select #selectDisplayPage class="lap-datagrid-select"
            (change)="displayData(selectDisplayItem.value, selectDisplayPage.value)" name="SelPageAff" id="SelPageAff">
        <option *ngFor="let page of lstPages; let i = index" [value]="page"
                [selected]="i == displayedPage">Page {{i + 1}} / {{nbrPages}}
        </option>
    </select>
    &nbsp;&nbsp;&nbsp;
    <span class="fa fa-forward changepageinactive" *ngIf="displayedPage == nbrPages-1"></span>
    <span class="fa fa-forward changepage" *ngIf="displayedPage < nbrPages-1" (click)="changePage('+')"></span>

    <span *ngIf="selectedLine.length == 1" class="pull-right">
        <i *ngFor="let option of option.optionsOneItem"
           [class]="option.icon +' icon_false'"
           (click)="rightClickAction(option.label)"
           title="{{ option.label }}"
        >&nbsp;</i>
  </span>

    <span *ngIf="selectedLine.length > 1" class="pull-right">
        <i *ngFor="let option of option.optionsManyItems"
           [class]="option.icon +' icon_false'"
           (click)="rightClickAction(option.label)"
           title="{{ option.label }}"
        >&nbsp;</i>
    </span>

</div>
<table #datagrid class="table table-fixed table-bordered table-hover" name="table_scroll" id="table_scroll">
    <thead>
    <tr>
        <th class="header" *ngFor="let head of header" (click)="orderBy(head.field)">
            <div class=" inputs-datagrid">
                <div *ngIf="orderby[head.field]" [class]="'fa fa-sort-'+orderby[head.field]"></div>
                &nbsp;&nbsp;{{head.header}}
            </div>
        </th>
    </tr>
    <tr *ngIf="filterDisplayed">
        <td *ngFor="let head of header">
            <input #filtre type="text"
                   class="lap-datagrid-control"
                   (keyup)="filtreData(head.field, filtre.value)"
            />
        </td>
    </tr>
    </thead>
    <tbody class="inputs-datagrid">
    <tr *ngFor="let data of dataDisplayed"
        (dblclick)="dblClickAction(data)"
        (contextmenu)="selectAction(data, true); contextMenu.show($event)"
        (click)="selectAction(data)"
        [class]="'selected_'+(selectedLine.indexOf(data) != -1)">
        <td *ngFor="let head of header">{{head.sourceField ? data[head.field][head.sourceField]:data[head.field]}}</td>
    </tr>
    </tbody>
</table>
