.th_normal_0, .th_normal_ {
  background-color: #d1dfe5;
  font-size: 12px;
  font-weight: bold;
  user-select: none;
  white-space: nowrap;
  text-align: center;
}

.th_normal_1, .th_normal_2 {
  background-color: #186ba0;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  user-select: none;
  text-align: center;
}

.th_small_0, .th_small_ {
  background-color: #d1dfe5;
  font-size: 10px;
  font-weight: bold;
  user-select: none;
  white-space: nowrap;
  text-align: center;
}

.th_small_1, .th_small_2 {
  background-color: #186ba0;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  user-select: none;
  text-align: center;
}

.th_small_:hover,
.th_small_0:hover,
.th_small_1:hover,
.th_small_2:hover,
.th_normal_:hover,
.th_normal_0:hover,
.th_normal_1:hover,
.th_normal_2:hover {
  background-color: #186ba0;
  color: #ffffff;
  font-weight: bold;
  user-select: none;
  cursor: hand;
  cursor: pointer;
}

.tr_small {
  background-color: #ffffff;
  font-size: 10px;
  font-weight: normal;
  text-align: center;
}

.tr_normal {
  background-color: #ffffff;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
}

td:hover {
  cursor: hand;
  cursor: pointer;
}

.lap-datagrid-toolbar {
  border: 1px solid #d9d9d9;
  color: #1b1d1f;
  border-radius: 4px 4px 4px 4px;
  background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
  text-align: left;
  font-weight: bold;
  padding: 6px 6px;
  user-select: none;
}

.lap-datagrid-select {
  padding: 6px 6px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.lap-datagrid-select:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.lap-datagrid-select:hover {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.lap-datagrid-control {
  display: block;
  width: 100%;
  height: 22px;
  padding: 6px 6px;
  font-size: 12px;
  line-height: 1.42857143;
  text-align: center;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.lap-datagrid-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.lap-datagrid-control:hover {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.changepageinactive {
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.changepage {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.changepage:hover {
  cursor: hand;
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
}

.icon_false {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.icon_true {
  opacity: 1;
  filter: alpha(opacity=100);
}

.icon_false:hover {
  cursor: hand;
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
}

.icon_true:hover {
  cursor: hand;
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
}

.selected_true {
  background-color: #186ba0;
  color: #ffffff;
}

.selected_true:hover {
  background-color: #186ba0;
  color: #ffffff;
}

.selected_false {

}

.modal-body {
  height: 160px;
}

.sort-buttons-desc {
  margin-right: 15px;
}

.inputs-datagrid {
  text-align: center;
}

.sort-buttons-asc {
  margin-left: 35px;
}

.lap-datagrid-toolbar {
  border: 1px solid #d9d9d9;
  color: #1b1d1f;
  border-radius: 4px 4px 4px 4px;
  background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
  text-align: left;
  font-weight: bold;
  padding: 6px 6px;
  user-select: none;
}
.header{
    font-family: Arial, Helvetica, sans-serif;
    color : #555;
    background-color: #d1dfe5;
    font-size: 10px;
}

table td{
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.header:hover{
  font-family: Arial, Helvetica, sans-serif;
  color : white;
  background-color: #186ba0;
}

