<div class="modal-header">
    <h4 class="modal-title" *ngIf="listItem.length == 1">Suppression de {{listItem[0][crudOptions.fieldInMsg]}}</h4>
    <h4 class="modal-title" *ngIf="listItem.length > 1">Suppression de {{listItem.length + ' '+ crudOptions.libelPlurielInMsg}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;
    </button>
</div>
<div class="modal-body">
    Confirmez-vous la suppression de {{listItem.length == 1 ? listItem[0][crudOptions.fieldInMsg]:(listItem.length + ' '
    + crudOptions.libelPlurielInMsg)}} ?
</div>
<div class="modal-footer">
    <button type="button" pButton class="ui-button-warning" icon="fa-close" data-dismiss="modal"
            (click)="clear()" label="Abandonner">
    </button>
    <button type="button" pButton class="ui-button-success" icon="fa-save" data-dismiss="modal"
            (click)="confirm()" label="Confirmer">
    </button>
</div>

