<h3>{{ pageTitle }}</h3>


<!------------------------------------>
<!-- DATAGRID                       -->
<!------------------------------------>
<lap-datagrid #datagrid
               [source]="crudOptions.source"
               [header]="header"
               [option]="option"
               (contextMenuEvent)="cmAction($event)"
               (dblClickEvent)="dblClick($event)"
               (toolbarOptionEvent)="toolbar($event)"
></lap-datagrid>
<!------------------------------------>


<!---------------------------------------->
<!-- Modale confirmation de suppression -->
<!---------------------------------------->

<!---------------------------------------->



<!---------------------------------------->
<!-- Messages d'avertissement           -->
<!---------------------------------------->
<jhi-alert></jhi-alert>
<p-growl class="ui-growl" [value]="alertMsgs"></p-growl>
<!---------------------------------------->
